<br />
<br />
<%= @id.humanize %>
<br />
<br />
Hourly late: $10 (USD)
<br />
https://townwork.net/tokyo/jikyuu/
<br />
<br />
Success rate: 0.5
<br />
<br />
Supporting attrs
<li>Casual Chat with customers</li>
<li>Cooperative</li>
<li>Harmonious</li>
<br />
Ditracting attrs
<li>Not on time</li>
<br />
<br />
<%= button_to 'Equip', jobs_path(id: @id) %>
