<br />
<br />
<%= @job.name %>
<br />
<br />
Hourly late: $ <%= @job.hourly_rate %> (USD)
<br />
<%= @job.reference_link %>
https://townwork.net/tokyo/jikyuu/
<br />
<br />
Success rate: 0.5
<br />
<br />
Supporting attrs
<li>Casual Chat with customers</li>
<li>Cooperative</li>
<li>Harmonious</li>
<br />
Ditracting attrs
<li>Not on time</li>
<br />
<br />
<%= button_to 'Equip', jobs_path(id: @id) %>
